# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
myenv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Output files
*.csv
*.xlsx
*.log
